@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --primary-blue: #0065FF;
    --primary-grey: #3C3B3A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
    height: 100vh;
    min-width: 300px;
    color: #3C3B3A;
    overflow-x: hidden;
}

h2 {
    text-transform: uppercase;
    font-weight: 500;
}


/* -webkit-box-shadow: 0px 3px 10px 0px rgba(223, 221, 223, 0.81);
    -moz-box-shadow: 0px 3px 10px 0px rgba(223, 221, 223, 0.81);
    box-shadow: 0px 3px 10px 0px rgba(223, 221, 223, 0.81); */

/* Nav bar */

.nav-bar {
    box-shadow: 0px 3px 10px 0px rgba(223, 221, 223, 0.81);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
}

.navigation {
    display: none;
}

.navigation.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* box-shadow: 0px 3px 10px -2px rgba(223, 221, 223, 0.81); */
}

.navigation.active a {
    padding: 20px;
    color: var(--primary-grey);
    text-decoration: none;
    font-size: 1.3rem;
}

.toggle-box {
    z-index: 1;
}

.toggle-box .hide {
    display: none;
}

.toggle-box .close {
    display: none;
}

.toggle-box .show {
    display: flex;
}

/* About me section */

.about-me {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-photo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-image: url('images/profilephoto.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

.about-me h1 {
    color: var(--primary-blue);
    text-align: center;
    font-weight: 500;
    font-size: 1.7rem;
}

.blue-line {
    background-color: var(--primary-blue);
    width: 70%;
    height: 1px;
    margin: 20px auto;
}

.about-me p {
    text-align: center;
    width: 80%;
    margin: auto;
    font-weight: 500;
}

.btn {
    padding: 1rem 2.5rem;
    border-radius: 30px;
    color: #fff;
    background: linear-gradient(90deg, rgba(26,172,236,1) 0%, rgba(44,113,219,1) 100%);
    font-size: .8rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    box-shadow: 2px 9px 19px rgba(0, 101, 255, 0.5);
    margin: 30px 0;
}

/* Projects section */

.projects {
    background: rgb(43,115,220);
    background: linear-gradient(0deg, rgba(43,115,220,1) 0%, rgba(25,171,236,1) 65%);
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects h2 {
    font-size: 2rem;
}

.project-block {
    background-color: rgba(255,255,255,50%);
    width: 80%;
    border-radius: 10px;
    text-align: center;
    margin: 40px auto;
}

.project-block h4 {
    text-align: center;
    transform: translateY(-150%);
    font-weight: 300;
}

.project-picture {
    width: 90%;
    border-radius: 10px;
}

.project-block p {
    width: 80%;
    margin: 20px auto;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.6;
}

.btn-project {
    background-image: linear-gradient(to right bottom, #0065ff, #0469f7, #126cee, #206fe5, #2c71db);
    border-radius: 25px;
    width: 60%;
    height: 40px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 9px 2px 19px 3px rgba(0,101,255,0.5);
    cursor: pointer;
} 

.btn-project a {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: .8rem;
    text-decoration: none;
    color: #fff;
}

/* Wave border */

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.spacer1 {
    margin-bottom: -10px;
}

.spacer2 {
    margin-top: -10px;
    aspect-ratio: 960/500;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.spacer3 {
    margin-bottom: -1px;
}

.layer1 {
    background-image: url('images/wave-haikei.svg');
}

.layer2 {
    background-image: url('images/wave-haikei\ \(2\).svg');
}

.layer3 {
    background-image: url('images/wave-haikei\ \(3\).svg');
}

/* Skills and tools section */

.skills-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-tools h2 {
    font-size: 1.5rem;
}

.grid-display {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 50px; 
    margin-top: 40px;
}

.skill-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-div i {
    font-size: 4rem;
}

.skill-div h6 {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
}

.footer-section {
    height: 400px;
    background-image: linear-gradient(to bottom, #2b73dc, #1081e2, #008ee7, #009be9, #1aa7eb);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.footer-section h2 {
    width: 60%; 
    text-align: center;
    font-weight: 400;
}

.fa-github, .fa-linkedin {
    color: white;
    font-size: 2.5rem;
    margin: 10px;
}

.footer-section p {
    font-size: .7rem;
    margin: 10px;
    letter-spacing: 1px;
}

/* Colors and other helper elements */

.primary-blue {
    color: var(--primary-blue);
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .navigation {
        display: flex;
    }

    .navigation a {
        padding: 10px;
        color: var(--primary-grey);
        text-decoration: none;
    }

    .toggle-box {
        display: none;
    }

}